<div class="center wow fadeInDown col-xs-6" style="position:relative;top:55px;">
    <h2>Upcoming Events</h2>
    <p class="lead">LEADERSHIP SEMINARS</p>
    <p class="lead">Powerful Christian Leader - 2015, New Jersey USA <br>
        <strong>May 18th - 22nd 2015</strong>
    </p>
    <p class="lead">5 Days of Intensive Practical Training.</p>
    <p><a class="btn-primary animation animated-item-3" href="#/register">Click to Register</a></p>
    <p><a href="mailto:intlpowerministries@gmail.com">intlpowerministries@gmail.com</a></p>
</div>
<div class="center wow fadeInDown col-xs-6">
    <a class="preview" href="images/partners/powerministry.jpg" rel="prettyPhoto">
        <img src="images/partners/powerministry.jpg" alt="Conference Brochure" style="position:relative;width:60%;height:auto;top:60px;">
    </a>
</div>

<div class="partners">
    <ul>
        <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="images/logo.png"></a></li>
        <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="images/slider/img1.png" style="position:relative;width:50%;height:auto;top:-20px;left:20px;"></a></li>
    </ul>
</div>