<div class="center wow fadeInDown col-xs-12" style="position:relative;top:55px;">
    <h2>Register for Powerful Christian Conference</h2>
    <form ng-controller="formController" novalidate id="main-contact-form" class="contact-form" name="myForm" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST"">
        <input type=hidden name="oid" value="00Do0000000Hnda">
        <input type=hidden name="retURL" value="http://www.powerministry.info">
        <input type=hidden name="lead_source" value="Web">
        <div class="col-sm-5 col-sm-offset-1">
            <div class="form-group">
                <label for="salutation">Salutation: </label>
                <select name="salutation" size="1" required  id="salutation" tabindex="1">
                    <option value="Mr.">Mr.</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Mrs.">Mrs.</option>
                    <option value="Dr.">Dr.</option>
                    <option value="Rev.">Rev.</option>
                </select>
            </div>
            <div class="form-group">
                <label for="first_name">First Name *</label>
                <p class="speech" ng-show="myForm.first_name.$invalid && myForm.first_name.$touched">Enter correct value / Required Field</p>
                <input type="text" name="first_name" class="form-control" ng-model="user.first_name" ng-required="true" tabindex="2">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name *</label>
                <p class="speech" ng-show="myForm.last_name.$invalid && myForm.last_name.$touched">Enter correct value / Required Field</p>
                <input type="text" name="last_name" class="form-control" ng-model="user.last_name" ng-required="true" tabindex="3">
            </div>
            <div class="form-group">
                <label for="email">Email *</label>
                <p class="speech" ng-show="myForm.email.$invalid && myForm.email.$touched">Required / Correct format (eg: example@myemail.xyz)</p>
                <input type="email" name="email" class="form-control" ng-model="user.email" ng-required="true" tabindex="4">
            </div>
            <div class="form-group">
                <label for="website">Website (optional): </label>
                <input type="website" name="website" class="form-control" ng-model="user.website" ng-required="false" tabindex="5">
            </div>
            <div class="form-group">
                <label for="phone">Phone/Mobile: </label>
                <input type="number" name="phone" class="form-control" tabindex="6">
            </div>
            <div class="form-group">
                <label for="00No0000008XSgz">Church Name: </label>
                <input type="text" name="00No0000008XSgz" class="form-control" tabindex="7">
            </div>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <label for="street">Address *</label>
                <p class="speech" ng-show="myForm.street.$invalid && myForm.street.$touched">Enter correct value / Required Field</p>
                <textarea name="street" id="message" required="required" class="form-control" rows="8" ng-model="user.street" ng-required="true" tabindex="8"></textarea>
            </div>
            <div class="form-group">
                <label for="city">City *</label>
                <p class="speech" ng-show="myForm.city.$invalid && myForm.city.$touched">Enter correct value / Required Field</p>
                <input type="text" name="city" class="form-control" ng-model="user.city" ng-required="true" tabindex="9">
            </div>
            <div class="form-group">
                <label for="state">State *</label>
                <p class="speech" ng-show="myForm.state.$invalid && myForm.state.$touched">Enter correct value / Required Field</p>
                <input type="text" name="state" class="form-control" ng-model="user.state" ng-required="true" tabindex="10">
            </div>
            <div class="form-group">
                <label for="zipcode">Zipcode *</label>
                <p class="speech" ng-show="myForm.zipcode.$invalid && myForm.zipcode.$touched">Enter correct value / Required Field</p>
                <input type="text" maxlength="20" name="zipcode" class="form-control" ng-model="user.zipcode" ng-required="true" tabindex="11">
            </div>
            <div class="form-group">
                <label for="country">Country *</label>
                <p class="speech" ng-show="myForm.country.$invalid && myForm.country.$touched">Enter correct value / Required Field</p>
                <input type="text" maxlength="20" name="country" class="form-control" ng-model="user.country" ng-required="true" tabindex="12">
            </div>
            <div class="form-group">
                <p><button type="submit" name="submit" class="btn btn-primary" required="required" tabindex="13">Submit Message</button> &nbsp; <a class="btn-primary animation animated-item-3" href="#/home">Go back</a></p>
            </div>
        </div>
    </form>
</div>